# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# autosaves
*~
*.autosave

# CMakeLists.txt.user file
*.txt.user

# Executables
*.exe
*.out
*.app
